<div class="row align-items-center mb-5">
  <div class="col-auto">
    <div class="overflow-hidden rounded-circle">
      <img style="width: 100px" src="/images/rafal-ciok-web.png" />
    </div>
  </div>

  <div class="col">
    <p class="m-0">Hi folks! <span class="fs-4 lh-1">👋</span><br>I'm <b>Frontend Developer</b> with 7 years of professional experience. I'm always open to learn new things and ready for new challenges. <span class="fs-4 lh-1">✌</span></p>
  </div>
</div>

<div class="row">
  <div class="col mt-3">
    <% page.posts.forEach((post) => { %>
      <div class="row mb-5">
        <div class="col">
          <a href="<%- url_for(post.path) %>" class="text-decoration-none">
            <h2 class="fw-bold" style="color: var(--title-color)"><%- post.title %></h2>
          </a>
          <p class="mb-2"><%- post.description %></p>
          <small><%- full_date(post.date, 'LL') %><span class="mx-2">·</span><%- symbolsTime(post) %></small>
        </div>
      </div>
    <% }) %>
  </div>
</div>
