<%- css('css/prism-plugins.css') %>
<%- css('css/prism-theme.css') %>

<style>
    img {
        width: 100%;
    }
</style>


<div class="row d-flex mb-3" style="position:relative;">
    <div class="col">
        <h1 class="m-0"><%- page.title %></h1>
        <div><%- full_date(page.date, 'LL') %></div>
        <div><%- symbolsTime(page) %></div>
    </div>
</div>


<%- page.content %>

<div class="mt-5 comments-container"></div>

<script>
    const commentContainer = document.querySelector('.comments-container');
    const currentTheme = document.documentElement.getAttribute('data-theme');

    const script = document.createElement('script');

    script.setAttribute('src', 'https://utteranc.es/client.js');
    script.setAttribute('repo', 'ravciok/ravciok.dev-comments');
    script.setAttribute('issue-term', 'pathname');
    script.setAttribute('theme', `github-${ currentTheme }`);
    script.setAttribute('crossorigin', 'anonymous');
    script.setAttribute('async', 'true');

    commentContainer.appendChild(script);
</script>
